@import url('https://use.typekit.net/szq4vai.css');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'hack';
}
html, body {
    height: 100%;
}
body{
    min-height: 100vh;
    background: #242546;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1,h2{
    color: White;
}


.sidemenu{
    padding-top: 100px;
    position: absolute;
    background:#2d2e5c;
    width: 20vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.sidemenu .brand{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 128px;
}

.seccion1{
    margin-top: 100px;
    height: 100%;
}

.sidemenu a{
	align-items:center ;
	font-size :20px ;
	padding :5px 40px ;
	color :#ffd319 ;
	display:flex ;
	align-items:center ;

}

.sidemenu a:hover{
	color :#ff901f ; 
}


.inicio {
	position: relative; 
	margin:auto ; 
	margin-top :85px ; 
	margin-left :350px ; 
	padding :5px ; 
	border-radius :8px ; 
	text-align:center ; 
	font-size :40px ; 
	width :700px ; 
	color :white ; 
}

.about {
	position:relative ; 
	margin:auto ; 
	margin-top :85px ; 
	margin-left :350px ; 
	padding :5px ; 
	border-radius :8px ; 
	text-align: justify ; 
	font-size :15px ; 
	width :700px ; 
  color: white;
}

.about h2{
	margin-right :300px ; 
	font-size :50px ; 
	color :#f222ff ; 
}

.skills {
    position: relative;
    margin: auto;
    margin-top: 85px;
    margin-left: 350px;
    padding: 5px;
    border-radius: 8px;
    text-align: justify;
    font-size: 15px;
    width: 700px;
    color: white;
}

.skills h2 {
    margin-right: 300px;
    font-size: 50px;
    color: #f222ff;
}

.skills p {
    width: 800px;
    margin-top: 40px;
    margin-right: 40px;
    text-align: justify;
    font-size: 20px;
    color: white;
}

.proyectos {
    position: relative;
    margin: auto;
    margin-top: 85px;
    margin-left: 350px;
    padding: 5px;
    border-radius: 8px;
    text-align: justify;
    font-size: 15px;
    width: 700px;
    color: white;
}

.proyectos h2 {
    margin-right: 300px;
    font-size: 50px;
    color: #f222ff;
}

.proyectos p {
    width: 800px;
    margin-top: 40px;
    margin-right: 40px;
    text-align: justify;
    font-size: 20px;
    color:white ;
}


.about p{
	width: 800px ; 
	margin-top: 40px ; 
	margin-right: 40px ; 
	text-align: justify ; 
	font-size: 20px ; 
	color: white; 
}


.contacto {
    position: relative;
    margin: auto;
    margin-top: 85px;
    margin-left: 350px;
    padding: 5px;
    border-radius: 8px;
    text-align: justify;
    font-size: 15px;
    width: 700px;
    color: white;
}

.contacto h2 {
    margin-right: 300px;
    font-size: 50px;
    color: #f222ff;
}

.contacto p {
    width: 800px;
    margin-top: 40px;
    margin-right: 40px;
    text-align: justify;
    font-size: 20px;
    color:white ;
}


