@font-face {
  font-family: 'Hack Nerd Font';
  src: local('Hack Nerd Font'), url('./public/Hack/HackNerdFontMono-Regular.ttf') format('truetype');
}

body {
  font-family: 'Hack Nerd Font', sans-serif;
  line-height: 1.2;
  width: 100%;
}


:root {
  --color1: #444;
  --color2: #333;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Estilos para el menú lateral */
.sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 185px;
  height: 100%;
  background-color:#FF3131; /* Cambiar el color de fondo */
  color: #02d7f2; /* Cambiar el color del texto */
}

.sidemenu a {
  display: block;
  padding: 20px; /* Aumentar el relleno */
  text-decoration: none;
  font-size: 18px; /* Aumentar el tamaño de fuente */
  font-weight: bold;
  color: #000000;
}

.sidemenu a:hover {
  background-color: #ffbcbc;
}

.sidemenu a i {
  margin-right: 10px;
}

.sidemenu .elements {
  margin-top: 100px; /* Agregar margen superior */
}

/* Estilos para las secciones */
section {
padding:
20px;
border-bottom: solid 1px #333333;
width: 100%;
}

section h2{
font-weight:
    bold;font-size:
    36px;color: #FF3131 /* Cambiar el color del texto */
}

section div{
    max-width:
800px
}

section p{
font-size:
18px;
color:#007aff; /* Cambiar el color del texto */
}


.inicio {
  width: 100%;
  margin-left: 0;
  background-size: cover;
  background-color: #000000;
  color: #FF3131;
  align-items: center;
  display: flex; /* Add this property to use flexbox */
  flex-direction: column; /* Add this property to align elements vertically */
  justify-content: center; /* Add this property to center elements vertically */
}

.inicio div {
  margin-left: 200px;
}

.inicio p {
  color: white;
  padding: 20px;
  margin-top: -40px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
}

.inicio h2 {
  display: inline-block;
  padding: 10px;
  color: #FF3131;
  margin-top: 0;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}




/* Estilos para la sección de sobre mi */
.about{
  width: 100%;
  align-items: center;
  text-align: center;
  margin-left: 0;
  background-size: cover;
  background-color: #000000;
  color: #FF3131;
  display: flex; /* Add this property to use flexbox */
  flex-direction: column; /* Add this property to align elements vertically */
  justify-content: center; /* Add this property to center elements vertically */
}

.about h2 {
  text-align: center; /* Center the h2 element */
}

.about p{
  align-items:center;
  font-size:24px;
  line-height:1.5;
  color: white;
  /*text-align: justify;*/
  /* text-justify: inter-word; */
  word-spacing: -6px;
}



.about div {
  margin-left: 200px;
}



/* Estilos para la sección de skills */


.skills{
  width: 100%;
  margin-left: 0;
  background-size: cover;
  background-color: #000000;
  color: #FF3131;
  align-items: center;
  display: flex; /* Add this property to use flexbox */
  flex-direction: column; /* Add this property to align elements vertically */
  justify-content: center; /* Add this property to center elements vertically */
}

.skills div{
  margin-top: 40px;
  margin-left: 100px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills h2 {
  margin-left: 100px;
  color: #FF3131;
  display:inline-block;
  text-align:center;
}

.skills h3{
  font-size: 24px;
  margin-bottom: 10px;
  color: #FF3131;
  font-weight:bold;
  margin-left: 50px;
}

.skills ul{
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center; /* Add this property to center the elements horizontally */
}



.skills li {
font-size: 16px;
margin-right: 20px;
color: white;
text-align: center;
border: 1px solid grey;
border-radius: 8px;
padding: 10px;
margin-bottom: 10px;
width: 150px;
height: 40px;
background-color: #000000;
font-weight: bold;
}



.skills .skills-container div {
  margin: 10px; 
}

.skills .skills-container{
  width:100%;
}

.skills-container {
  display:flex; 
  flex-direction: column; 
  margin-left:0; 
}


/* Styles for the projects section */
.proyectos {
  width: 100%;
  margin-left: 0;
  background-size: cover;
  background-color: #000000;
  color: #FF3131;
  align-items: center;
  display: flex; /* Add this property to use flexbox */
  flex-direction: column; /* Add this property to align elements vertically */
  justify-content: center; /* Add this property to center elements vertically */
}


.proyectos h2 {
  align-items: center;
  text-align: center;
  color: #FF3131;
}



.proyectos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.proyectos div {
  margin-left: 200px;
  max-width: 100%;
}


.proyectos ul {
  width: 100%;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex; /* Use flexbox to align elements horizontally */
  flex-wrap: nowrap; /* Prevent elements from wrapping into multiple rows */
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.proyectos li {
  width: 100%;
  border: 1px solid grey;
  margin-right: 30px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  color: grey;
  text-align: center;
  font-weight: bold;

/* Adjust the shape of the main list elements here */
}

.proyectos li li {
  margin-right: 20px;
  font-size: 28px;
  width: 60px;
  margin-bottom: 5px;
}

.proyectos p{
  color: white;
  font-size: 16px;
}

.proyectos li ul{
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center; /
}


.proyectos a {
color:#FF3131;
align-items:center;

/* Adjust the shape of the links here */
}

.img-proyecto {
width:400px; /* Adjust the image width */
height:200px; /* Adjust the image height */
display:block;
max-width:100%; /* Ensure that the image is not wider than its container */
margin-left:auto; /* Center the image horizontally */
margin-right:auto;
}

.proyectos h3 {
  margin-top: 20px;
  font-size: 24px;
  color: #FF3131; /* Change the text color to white */
}



/* Estilos para la sección de contacto */
.contacto {
  width: 100%;
  margin-left: 0;
  background-size: cover;
  background-color: #000000;
  color: #FF3131;
  align-items: center;
  display: flex; /* Add this property to use flexbox */
  flex-direction: column; /* Add this property to align elements vertically */
  justify-content: center; /* Add this property to center elements vertically */
}

.contacto div {
  margin-left: 200px;
  max-width: 100%;
}
.contacto div h2 {
  color: #FF3131;
  display: center;
  text-align:center;
}
.contacto ul {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center; /* Add this property to center the elements horizontally */
}

.contacto li {
    margin-right:30px
}
.contacto a {
    color: white;font-size:
30px;margin:
0 
10px
}

footer {
  margin-left: 0px;
  background-color: #333333;
  width: 100%;
  max-width: 100%;
  color: white;
  padding: 20px;
  overflow-x: hidden;
}

footer .container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

footer p {
  text-align: left;
}

footer div {
  margin-left: 200px;
}


