
/* Estilos para la sección de sobre mi */
.about{
  width: 100%;
  align-items: center;
  text-align: center;
  margin-left: 0;
  background-size: cover;
  background-color: #000000;
  display: flex; /* Add this property to use flexbox */
  flex-direction: column; /* Add this property to align elements vertically */
  justify-content: center; /* Add this property to center elements vertically */
}

.about .port {
  margin-bottom: 100px;
}

.about h2 {
  text-align: center; /* Center the h2 element */
  color: #F3E600;
  font-weight: bold;
}

.about p{
  align-items:center;
  font-size:24px;
  line-height:1.5;
  color: white;
}

.about div {
  margin-left: 200px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  
.about {
    width: 100%;
    height:auto;
    margin-left:0; /* Reset the left margin */
}

.about div {
    margin-left:auto; /* Center the div on small screens */
    margin-right:auto; /* Center the div on small screens */
}

.about p{
    font-size:18px; /* Reduce the font size on small screens */
    word-spacing:normal; /* Reset word spacing on small screens */
}
}

@media only screen and (max-width: 900px) {
  
  .about {
      width: 100%;
      height:auto;
      margin-left:0; /* Reset the left margin */
  }
  
  .about div {
      margin-left:auto; /* Center the div on medium screens */
      margin-right:auto; /* Center the div on medium screens */
  }
  
  .about p{
      font-size:16px; /* Reduce the font size on medium screens */
      word-spacing:normal; /* Reset word spacing on medium screens */
  }
  }
  