:root {
  --body-fondo: #ffffff;
  --body-fondo2: #F3E600;
  --sidemenu-fondo: #F3E600;
  --sidemenu-fondo2: #000000;
  --sidemenu-texto: #000000;
  --sidemenu-texto2: #ffffff;
  --inicio-fondo: #ffffff;
  --inicio-texto: #F3E600;
  --acerca-fondo: #ffffff;
  --skills-fondo: #F3E600;
  --skills-fondo2: #000000;
  --skills-texto: #000000;
  --skills-texto2: #ffffff;
  --project-fondo: #ffffff;
  --project-fondo2: #000000;
  --project-fondo3: #F3E600;
  --project-texto: #ffffff;
  --project-texto2: #000000;
  --project-texto3: #F3E600;
  --project-texto4: #000000;
  --contacto-fondo: #F3E600;
  --contacto-fondo2: #000000;
  --contacto-texto: #000000;
  --contacto-texto2: #ffffff;
  --contacto-texto3: #000000;
  --color-texto: #000000;
  --boton-texto: #000000;
  --boton-texto2: #ffffff;
  --general-texto: #ffffff;
  --general-texto2: #000000;
}

[data-theme="oscuro"] {
  --body-fondo: #F3E600;
  --body-fondo: #000000;
  --sidemenu-fondo: #000000;
  --sidemenu-fondo2: #F3E600;
  --sidemenu-texto: #ffffff;
  --sidemenu-texto2: #000000;
  --inicio-fondo: #F3E600;
  --inicio-texto: #ffffff;
  --acerca-fondo: #F3E600;
  --skills-fondo: #000000;
  --skills-fondo2: #F3E600;;
  --skills-texto: #ffffff;
  --skills-texto2: #000000;
  --project-fondo: #000000;
  --project-fondo2: #F3E600;
  --project-fondo3: #000000;
  --project-texto: #000000;
  --project-texto2: #ffffff;
  --project-texto3: #000000;
  --project-texto4: #F3E600;
  --contacto-fondo: #000000;
  --contacto-fondo2: #000000;
  --contacto-texto: #ffffff;
  --contacto-texto2: #000000;
  --contacto-texto3: #F3E600;
  --color-texto: #000000;
  --boton-texto: #ffffff;
  --boton-texto2: #F3E600;
  --general-texto: #ffffff;
  --general-texto2: #000000;
}


@font-face {
  font-family: 'Hack Nerd Font';
  src: local('Hack Nerd Font'), url('../public/Hack/HackNerdFontMono-Regular.ttf') format('truetype');
}


body {
  font-family: 'Hack Nerd Font', sans-serif;
  line-height: 1.2;
  width: 100%;
}

:root {
  --color1: #444;
  --color2: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.seccion::after {
  content: "";
  display: block;
  margin: auto; /* Centra la línea */
  width: 50%; /* Controla la longitud de la línea */
  border-bottom: 1px solid black; /* Añade la línea */
}

section {
  padding: 20px;
  width: 100%;
  scroll-margin-top: 1em;
}







@media only screen and (max-width: 600px) {
  body {
    line-height: 1.0;
  }

}

@media only screen and (max-width: 900px) {
  body {
    line-height: 1.1;
  }

}