@font-face {
    font-family: 'Hack Nerd Font';
    src: local('Hack Nerd Font'), url('./public/Hack/HackNerdFontMono-Regular.ttf') format('truetype');
  }
  
  body {
    font-family: 'Hack Nerd Font', sans-serif;
    line-height: 1.2;
    width: 100%;
  }
  
  
  :root {
    --color1: #444;
    --color2: #333;
  }
  
  /* Estilos generales */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
/* Estilos para la sección de contacto */
.contacto {
  width: 100%;
  margin-left: 0;
  background-size: cover;
  background-color: #000000;
  color: #FF3131;
  align-items: center;
  display: flex; /* Add this property to use flexbox */
  flex-direction: column; /* Add this property to align elements vertically */
  justify-content: center; /* Add this property to center elements vertically */
}

.contacto div {
  margin-left: 200px;
  max-width: 100%;
}
.contacto div h2 {
  color: #FF3131;
  display: center;
  text-align:center;
}
.contacto ul {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center; /* Add this property to center the elements horizontally */
}

.contacto li {
    margin-right:30px
}
.contacto a {
    color: white;font-size:
30px;margin:
0 
10px
}