footer {
  border-top: 1px solid;
  margin-left: 0;
  background-color: #000000;
  width: 100%;
  max-width: 100%;
  padding: 30px;
  overflow-x: hidden;
}

.contacto {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-left: 0;
  background-size: cover;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 100%;

}

.contacto h2 {
  color: #F3E600;
  display: center;
  text-align: center;
  font-weight: bold;
}

.contacto ul {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contacto li {
  margin-right: auto;
  margin-left: auto;
}

.contacto a {
  color: white;
  font-size:
    30px;
  margin:
    0 10px
}



footer .container {
  max-width: 100%;
  width: 100%;
  margin: auto;
}

footer p {
  text-align: center;
  color: white;
}

footer div {
  margin-top: 20px;

}


@media (max-width:600px) {
  footer {
    margin-bottom: 65px;
  }

  footer div {
    margin-left: auto;
    margin-right: auto;
  }

  .contacto {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-left: auto;
    margin-right: auto;
  }


  .contacto p {
    font-size: 18px;
    word-spacing: normal;
  }
}


@media only screen and (max-width: 900px) {
  footer {
    margin-bottom: 65px;
  }

  footer div {
    margin-left: auto;
    margin-right: auto;
  }

  .contacto {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .contacto p {
    font-size: 20px;
    word-spacing: normal; 
  }

}