footer {
  margin-left: 0;
  background-color: #333333;
  width: 100%;
  max-width: 100%;
  color: white;
  padding: 30px;
  overflow-x: hidden;
}

footer .container {
  max-width: 100%;
  width: 100%;
  margin: auto; /* Center the container */
}

footer p {
  text-align: center;
}

footer div {
  margin-top: 20px;
  margin-left:200px; /* Center the div */
}

/* Estilos para pantallas pequeñas */
@media (max-width:600px) {

footer div {
    margin-left:auto; /* Center the div on small screens */
    margin-right:auto; /* Center the div on small screens */
}

}

@media only screen and (max-width: 900px) {
  
  footer div {
      margin-left:auto; /* Center the div on medium screens */
      margin-right:auto; /* Center the div on medium screens */
  }
  
  }
  
