footer {
  border-top: 1px solid;
  margin-left: 0;
  background-color: #F3E600;
  width: 100%;
  max-width: 100%;
  padding: 30px;
  overflow-x: hidden;
}

.contacto {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-left: 0;
  background-size: cover;
  background-color: #F3E600;
  display: flex;
  /* Add this property to use flexbox */
  flex-direction: column;
  /* Add this property to align elements vertically */
  justify-content: center;
  /* Add this property to center elements vertically */
  margin-left: 100px;
  /* Center the div */
  max-width: 100%;

}

.contacto h2 {
  color: #000000;
  display: center;
  text-align: center;
  font-weight: bold;
}

.contacto ul {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* Add this property to center the elements horizontally */
}

.contacto li {
  margin-right: auto;
  /* Center the li elements */
  margin-left: auto;
  /* Center the li elements */
}

.contacto a {
  color: #000000;
  font-size:
    30px;
  margin:
    0 10px
}



footer .container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  /* Center the container */
}

footer p {
  text-align: center;
  color: #000000;
}

footer div {
  margin-top: 20px;
  margin-left: 200px;
  /* Center the div */
}



/* Estilos para pantallas pequeñas */
@media (max-width:600px) {
  footer {
    margin-bottom: 65px;
  }

  footer div {
    margin-left: auto;
    /* Center the div on small screens */
    margin-right: auto;
    /* Center the div on small screens */
  }

  .contacto {
    width: 100%;
    height:auto;
    margin-left:0; /* Reset the left margin */
    margin-left:auto; /* Center the div on small screens */
    margin-right:auto; /* Center the div on small screens */
}


  .contacto p{
    font-size:18px; /* Reduce the font size on small screens */
    word-spacing:normal; /* Reset word spacing on small screens */
  }
}


@media only screen and (max-width: 900px) {
  footer {
    margin-bottom: 65px;
  }

  footer div {
    margin-left: auto;
    /* Center the div on medium screens */
    margin-right: auto;
    /* Center the div on medium screens */
  }

  .contacto {
    width: 100%;
    height:auto;
    margin-left:0; /* Reset the left margin */
    margin-left:auto; /* Center the div on medium screens */
    margin-right:auto; /* Center the div on medium screens */
}

.contacto p{
    font-size:20px; /* Reduce the font size on medium screens */
    word-spacing:normal; /* Reset word spacing on medium screens */
}

}