
/* Estilos de inicio */
.inicio {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-left: 0;
  background-size: cover;
  background-color: var(--inicio-fondo);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inicio .port {
  margin-top: 250px;
}

.inicio h2 {
  text-align: center;
  color: var(--color-texto);
  font-size: 60px;
  font-weight: bold;
  margin-right: 35px ;
}

.inicio p {
  margin: -10px auto 0 auto;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  color: var(--color-texto);
  margin-bottom: 300px;

}



.inicio a {
  text-decoration: none;
}

.inicio .port {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra los elementos hijos horizontalmente */
  align-items: center;
 }


@keyframes blink-caret {
  50% { border-color: transparent; }
}

@keyframes teclear {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.inicio .port h3{
  font-size: 60px;
  font-weight: bold;
  color: var(--inicio-texto);
  font-family: monospace;
  overflow: hidden; /* Asegura que el contenido se ajuste al div */
  border-right: .12em solid rgb(0, 0, 0); /* Simula el cursor parpadeante */
  white-space: nowrap; /* Mantiene el contenido en una sola línea */
  margin: 0 auto; /* Centra el div */
  animation:
  blink-caret .7s step-end infinite,
  teclear 2s steps(30, end);

}


.hr {
  font-weight: bold;
  width: 50%;
  bottom: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--general-texto2);
  max-width: 50%;
}

@media only screen and (max-width: 600px), only screen and (max-width: 900px){

  .inicio {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .inicio .port {
    margin-bottom: 200px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }



  .inicio p {
    font-size: 18px;
    word-spacing: normal;
  }
}
