.flags{
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 0; /* Añade esta línea */
  margin-right: 10px;
  margin-top: 5px;
}

.flags_item{
  width: 30px;
}

.flags img{
  cursor: pointer;
  display: block;
}

/* Estilos para la sección de sobre mi */
.inicio{
  width: 100%;
  align-items: center;
  text-align: center;
  margin-left: 0;
  background-size: cover;
  background-color: #000000;
  color: #FF3131;
  display: flex; /* Add this property to use flexbox */
  flex-direction: column; /* Add this property to align elements vertically */
  justify-content: center; /* Add this property to center elements vertically */
}

.inicio h2 {
  text-align: center; /* Center the h2 element */
  font-size: 60px;
}

.inicio p{
  margin:-10px auto 0 auto; /* Center the paragraph */
  align-items:center;
  font-size:24px;
  line-height:1.5;
  color: white;
}

.inicio div {
  margin-left: 200px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  
  .inicio {
      width: 100%;
      height:auto;
      margin-left:0; /* Reset the left margin */
  }
  
  .inicio div {
      margin-left:auto; /* Center the div on small screens */
      margin-right:auto; /* Center the div on small screens */
  }
  
  .inicio p{
      font-size:18px; /* Reduce the font size on small screens */
      word-spacing:normal; /* Reset word spacing on small screens */
  }
  }
  
  @media only screen and (max-width: 900px) {
    
    .inicio {
        width: 100%;
        height:auto;
        margin-left:0; /* Reset the left margin */
    }
    
    .inicio div {
        margin-left:auto; /* Center the div on medium screens */
        margin-right:auto; /* Center the div on medium screens */
    }
    
    .inicio p{
        font-size:20px; /* Reduce the font size on medium screens */
        word-spacing:normal; /* Reset word spacing on medium screens */
    }
    }
    
