/*Banderas*/
.flags {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 0;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.flags_item {
  width: 40px;
  background-color: #000000;
  border-radius: 8px;
}

.flags_item:hover {
  background-color: white;
}

.flags_item:hover p {
  color: #000000;
}

.flags p {
  cursor: pointer;
  display: block;
  color: #F3E600;
  margin: auto;
  padding: 10px;

}

/*Estilos de inicio*/
.inicio {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-left: 0;
  background-size: cover;
  background-color: #F3E600;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.inicio .port {
  margin-bottom: 50px;
  margin-top: 50px;
}

.inicio h2 {
  text-align: center;
  color: #000000;
  font-size: 60px;
  font-weight: bold;
}

.inicio p {
  margin: -10px auto 0 auto;
  align-items: center;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}

.inicio div {
  margin-left: 200px;
}


@media only screen and (max-width: 600px), only screen and (max-width: 900px){

  .inicio {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .inicio div {
    margin-left: auto;

    margin-right: auto;
  }

  .inicio p {
    font-size: 18px;
    word-spacing: normal;
  }
}
