

/* Styles for the projects section */
.proyectos {
  width: 100%;
  margin-left: 0;
  background-size: cover;
  background-color: #000000;
  align-items: center;
  display: flex; /* Add this property to use flexbox */
  flex-direction: column; /* Add this property to align elements vertically */
  justify-content: center; /* Add this property to center elements vertically */
  box-sizing: border-box;
}




.proyectos h2 {
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #F3E600;
}

.proyectos .adv {
  align-items: center;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
}




.proyectos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.proyectos div {
  margin-left: 200px;
  max-width: 100%;
  margin-bottom: 100px;
}


.proyectos .container {
  width: 100%;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex; /* Use flexbox to align elements horizontally */
  flex-wrap: nowrap; /* Prevent elements from wrapping into multiple rows */
  padding: 0;
  margin-left: 0;
  border: 4px solid #000000;
  margin-bottom: 100px;
}

.elem {
  width: 50%;
  margin-right: 2px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #F3E600;
}

.elem:hover {
  background-color: #000000;
}

.elem:hover h3 {
  color: #F3E600;
}

.elem:hover p {
  color: white;
}

.elem:hover a {
  color: #000000;
}

.elem:hover li {
  background-color: #F3E600;
}

.elem:last-child {
  margin-right: 0;
}


.proyectos li ul {
  display: flex; /* Los elementos hijos se muestran en línea */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

.proyectos li li {
  display: inline-block; /* Los elementos se muestran en línea */
  margin-right: 20px;
  font-size: 28px;
  width: 60px;
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: #000000;
}


.proyectos p{
  color: #000000;
  font-size: 16px;
}

.proyectos a {
color:#F3E600;
align-items:center;
}

.img-proyecto {
width:500px; /* Adjust the image width */
height:200px; /* Adjust the image height */
display:block;
max-width:100%; /* Ensure that the image is not wider than its container */
margin-left:auto; /* Center the image horizontally */
margin-right:auto;
border-radius: 8px;
}

.elem h3 {
  margin-top: 20px;
  font-size: 24px;
  color: #000000; /* Change the text color to white */
  font-weight: bold;
}

@media  only screen and (max-width: 900px), only screen and (max-width: 600px) {

  .proyectos{
    width: 100%;
  }
  
  .proyectos div {
    margin-right: 20px;
    margin-bottom: 100px;
  }
  .container{
    display: flex;
    flex-direction: column; /* Los elementos hijos se muestran en línea */
    justify-content: center;
    margin-left: -2;
    flex-wrap: wrap;
    width: 100%;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
  }

  .proyectos div{
    margin-left: 20px;
  }

  .proyectos .elem {
    width: 100%; /* Adjust the width */
    /* Add any other styles you want to change */
  }

  .proyectos-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .img-proyecto {
    width:100%; /* Adjust the image width */
    height:auto; /* Adjust the image height */
  }
}
