/* Styles for the projects section */
.proyectos {
  width: 100%;
  margin-left: 0;
  background-size: cover;
  background-color: #000000;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.proyectos h2 {
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #f3e600;
}

.elem h3 {
  margin-top: 20px;
  font-size: 24px;
  color: #000000; /* Change the text color to white */
  font-weight: bold;
}

.proyectos li ul {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.proyectos p {
  color: #000000;
  font-size: 16px;
}

.proyectos a {
  color: #f3e600;
  align-items: center;
  display: inline-block;
  margin-right: 20px;
  font-size: 28px;
  width: 60px;
  height: 40px;
  top: 2px;
  border-radius: 8px;
  background-color: #000000;
}

.proyectos i {
  margin-top: 6px;
}

.proyectos .ima {
  width: 300px; 
  height: 200px;
}

.img-proyecto {
  width: 400px; 
  height: 200px; 
  display: block;
  max-width: 100%; 
  margin-left: auto; 
  margin-right: auto;
  border-radius: 8px;
}

.proyectos .adv {
  align-items: center;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.proyectos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.proyectos div {
  margin-left: 200px;
  max-width: 100%;
  margin-bottom: 100px;
}

.proyectos .container {
  width: 100%;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin-left: 0;
  border: 4px solid #000000;
  margin-bottom: 100px;
}

.elem {
  width: 50%;
  margin-right: 2px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #f3e600;
}

.elem:hover {
  background-color: #000000;
}

.elem:hover h3 {
  color: #f3e600;
}

.elem:hover p {
  color: white;
}

.elem:hover a {
  color: #000000;
  background-color: #f3e600;
}

.elem:hover li {
  background-color: #f3e600;
}

.elem:last-child {
  margin-right: 0;
}


@media only screen and (max-width: 900px), only screen and (max-width: 600px) {
  .proyectos {
    width: 100%;
  }

  .proyectos div {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 100px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -2;
    flex-wrap: wrap;
    width: 100%;
  }

  .proyectos a {
    width: 100px;
    height: 50px;
  }

  .proyectos i {
    margin-top: 10px;
  }

  .proyectos div {
    margin-left: 20px;
  }

  .proyectos .elem {
    width: 100%;
  }

  .proyectos-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .img-proyecto {
    width: 100%;
    height: auto;
  }

  .proyectos .ima {
    width: 100%;
    height: auto;  
  }
}
