

/* Estilos para el menú lateral */
.sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 185px;
  height: 100%;
  background-color:#FF3131; /* Cambiar el color de fondo */
  color: #02d7f2; /* Cambiar el color del texto */
}

.sidemenu a {
  display: block;
  padding: 20px; /* Aumentar el relleno */
  text-decoration: none;
  font-size: 18px; /* Aumentar el tamaño de fuente */
  font-weight: bold;
  color: #000000;
}

.sidemenu a:hover {
  background-color: #ffbcbc;
}

.sidemenu a i {
  margin-right: 10px;
}

.sidemenu .elements {
  margin-top: 100px; /* Agregar margen superior */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .sidemenu {
    width: 100%;
    height: auto;
    position: relative;
    display:none; /* Esconde el menú */
    transition: transform .3s ease-in-out; /* Agrega una transición suave al menú */
    transform: translateX(-100%); /* Mueve el menú fuera de la pantalla */
    flex-direction: row;
  }
  
  .sidemenu.open { /* Clase para mostrar el menú */
    display:block;
    transform: translateX(0); /* Mueve el menú a su posición original */
  }
  
  .sidemenu a {
    float: none;
    width: auto;
    text-align: center;
    padding:10px;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    border-right:1px solid #f2f2f2;
    width:100%;
    display:block; /* Muestra los enlaces */
  }
}

@media only screen and (max-width: 900px) {
  
  .sidemenu {
      width: 100%;
      height: auto;
      position: relative;
      display:none; /* Esconde el menú */
      transition: transform .3s ease-in-out; /* Agrega una transición suave al menú */
      transform: translateX(-100%); /* Mueve el menú fuera de la pantalla */
      flex-direction: row;
  }
    
  .sidemenu.open { /* Clase para mostrar el menú */
      display:block;
      transform: translateX(0); /* Mueve el menú a su posición original */
  }
    
  .sidemenu a {
      float: none;
      width: auto;
      text-align: center;
      padding:10px;
      border-top:1px solid #f2f2f2;
      border-bottom:1px solid #f2f2f2;
      border-right:1px solid #f2f2f2;
      width:100%;
      display:block; /* Muestra los enlaces */
  }
  
  }
  
