/* Estilos para el menú lateral */
.sidemenu {
  position: fixed; /* Fija el menú en la parte izquierda de la página */
  left: 0;
  width: 185px; /* Ancho del menú */
  height: 100%; /* Altura del menú */
  background-color:#FF3131; /* Color de fondo del menú */
  color: #02d7f2; /* Color del texto del menú */
}

.sidemenu a {
  display: block; /* Los enlaces se muestran como bloques, lo que les permite tener padding y dimensiones */
  padding: 20px; /* Espacio alrededor del texto en los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  font-size: 18px; /* Tamaño del texto en los enlaces */
  font-weight: bold; /* Texto en negrita en los enlaces */
  color: #000000; /* Color del texto en los enlaces */
}

.sidemenu a:hover {
  background-color: #ffbcbc; /* Color de fondo de los enlaces al pasar el mouse sobre ellos */
}

.sidemenu a i {
  margin-right: 10px;
}

.sidemenu .elements {
  margin-top: 100px; /* Agregar margen superior */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px), (max-width: 900px) {
  .sidemenu {
      margin-bottom: 0;
      width: 100%; /* El menú ocupa todo el ancho de la pantalla */
      height: auto;
      display:flex; /* Los elementos del menú se muestran en una línea */
      transition: transform .3s ease-in-out; /* Transición suave al cambiar el tamaño de la pantalla */
      flex-direction: row;
      position: fixed; /* El menú se fija en la parte inferior de la página */
      height: 50px; /* Altura del menú */
      bottom: 0; /* El menú se posiciona en la parte inferior de la página */
      flex-direction: row; /* Los elementos del menú se alinean horizontalmente */
      align-items: center; /* Centra los elementos del menú verticalmente */
      justify-content: space-around; /* Los elementos del menú se distribuyen uniformemente a lo largo de la línea */ 
  }

  .sidemenu.open { 
      display:block;
  }

  .sidemenu a {
    margin: 0; /* Ajusta el margen a tu preferencia */
    padding: 10px; /* Ajusta el padding a tu preferencia */
    text-align:center; /* Centra el texto */
    border-top:none;
    border-bottom:none;
    border-right:none;
    width:auto;
    display:inline-block;
    line-height:50px;
}

.sidemenu a i {
  font-size: 20px;
  position:relative;
  top:10px;
  vertical-align: middle;
  margin-right: 20px; /* Se aplica a todos los elementos */
}

.sidemenu a:last-child i {
  margin-right: 0; /* Se elimina para el último elemento */
}


.elements {
  display: flex; /* Usa flexbox para alinear los elementos */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  position:relative;
  top:-60px;
  margin-top:-10px;
  box-sizing:border-box;
  overflow:auto;
}


.menu-text{
    display:none;
}
}
