

/* Estilos para la sección de skills */
.skills {
  width: 100%;
  background-size: cover;
  background-color: var(--skills-fondo);
  color: var(--skills-texto);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills .port {
  margin-bottom: 100px;
}

.skills div {
  margin-top: 40px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills h2 {
  color: var(--skills-texto);
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.skills h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--skills-texto);
  font-weight: bold;
  text-align: center;
}

.skills ul {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.skills li {
  font-size: 16px;
  margin-right: 20px;
  background-color: var(--skills-fondo2);
  text-align: center;
  border: 1px solid var(--skills-fondo2);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 40px;
  color: var(--skills-texto2);
  font-weight: bold;
}

.skills .skills-container div {
  margin: 10px;
}

.skills .skills-container {
  width: 100%;
}

.skills-container {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}



@media (max-width: 600px) {
  .skills {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* Para centrar bloques */
  }

  .skills div {
    margin-left: 20px;
    text-align: center;
    /* Para centrar texto */
  }

  .skills h2 {
    margin-left: 20px;
    text-align: center;
    /* Para centrar texto */
  }

  .skills h3 {
    margin-left: 10px;
    text-align: center;
    /* Centra el texto de los elementos h3 */
  }

  .skills li {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 900px) {

  .skills {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* Para centrar bloques */
  }

  .skills div {
    margin-left: 0;
    text-align: center;
    /* Para centrar texto */
  }

  .skills h2 {
    margin-left: 0;
    text-align: center;
    /* Para centrar texto */
  }

  .skills h3 {
    margin-left: 0;
    text-align: center;
    /* Centra el texto de los elementos h3 */
  }

  .skills li {
    width: auto;
    height: auto;
  }

}